{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
<div class="container">
    <h1>Mes réservations</h1>

    {% if reservations is empty %}
        <p>Vous n'avez pas encore de réservations.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Véhicule</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.vehicule.marque ~ ' ' ~ reservation.vehicule.modele }}</td>
                        <td>{{ reservation.dateDebut|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.dateFin|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.prixTotal }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}